
.center {
	text-align: center;
}
h1 {
	color: #45a049;
	text-align: center;
}
.row {
	color: black;
}
.title {
	color: #4CAF50;
	text-align:center;
	/**margin-right:290px;*/
	text: bold;
}
/*************************************Sign up css*********************************/

/**control of border box size*/
.borderTabSign{
	box-shadow: 0 1px 1px rgba(0, 0, 100, 0.4), inset 0 1px 6px rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(32, 138, 70, 0.4);
	width: 430px;
    height: 340px;
    padding: 18px;
}
.moveIconS{
	margin-left: 76px !important;
	margin-top: 18px !important;
}
.pasIconS{
	padding:3px;
	margin-left: 75px !important;
	margin-top: 15px !important;
}

/*************************************Log in css*********************************/

/**control of border box size*/
.borderTabLogin{
	box-shadow: 0 1px 1px rgba(0, 0, 100, 0.4), inset 0 1px 6px rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(32, 138, 70, 0.4);
	width: 430px;
	height: 290px;
    padding: 10px;
}
.moveIconL{
	margin-left: 86px !important;
	margin-top: 18px !important;
}
.pasIconL{
	padding:3px;
	margin-left: 84px !important;
	margin-top: 16px !important;
}

/*************************************Sign up and Log in css*********************************/

input[type=text], input[type=password] {
	padding: 12px 20px 10px;
	padding-left: 25px;
	margin: 3px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}
input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}
.moveRightInp{
	padding-right: 35px;
}
/*************************************Tabs css*********************************/

/**control of tabs li size*/
.nav-tabs {
  margin-right: 200px !important;
  padding-right:380px !important;
  padding-left:330px !important;
}
.nav-tabs > li >a{
  background-color: windowframe;
}
/**control of moving box*/
.tab-content{
	padding-left:330px !important;
	padding-right:280px !important;
}