/* ~~~~~~~~~~~~~~~ global CSS ~~~~~~~~~~~~~~~ */
.button {
	background-color: white;
	width: 80%;
	color: black;
	padding: 12px 20px 10px;
	margin: 0px 0 10px;
	border: 2px solid #4CAF50;
	border-radius: 4px;
	cursor: pointer;
	float: none;
}

.button:hover {
	background-color: #4CAF50;
	color: white;
}

.center {
	text-align: center;
}

html {
	position: absolute;
	height: 500px;
	width: 600px;
	padding-left: 80px;
}

h1, i.h1Icon {
	color: #424242;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px gray;
}

i {
	color: gray;
}

.title {
	color: #45a049;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 0px 0px gray;
}

/* ~~~~~~~~~~~~~~~ Tabs CSS ~~~~~~~~~~~~~~~ */

/** control of tabs li size */
.nav>li>a {
	color: black;
}

.nav-tabs {
	padding-right: 440px;
}

.nav-tabs>li>a {
	background-color: windowframe;
}

.nav-tabs>li>a:hover {
	border-top: 1px solid #45a049 !important;
}

/**control of moving box*/
.tab-content {
	color: black !important;
}

/* ~~~~~~~~~~~~~~~ Sign up CSS ~~~~~~~~~~~~~~~ */

/**control of border box size*/
.borderTabSign {
	box-shadow: 0 1px 1px rgba(0, 0, 100, 0.4), inset 0 1px 6px
		rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(32, 138, 70, 0.4);
	width: 500px;
	height: 400px;
	padding: 10px;
}

.moveIconS {
	margin-left: 40px;
	margin-top: 18px;
}

.pasIconS {
	padding: 3px;
	margin-left: 40px;
	margin-top: 15px;
}

/* ~~~~~~~~~~~~~~~ Log in CSS ~~~~~~~~~~~~~~~ */

/** control of border box size */
.borderTabLogin {
	box-shadow: 0 1px 1px rgba(0, 0, 100, 0.4), inset 0 1px 6px
		rgba(255, 255, 255, 0.4), inset 0 -1px 1px rgba(32, 138, 70, 0.4);
	width: 500px;
	height: 290px;
	padding: 10px;
}

.moveIconL {
	margin-left: 40px;
	margin-top: 18px;
}

.pasIconL {
	padding: 3px;
	margin-left: 40px;
	margin-top: 15px;
}

/* ~~~~~~~~~~~~~~~ Sign up and Log in CSS ~~~~~~~~~~~~~~~ */
input[type=text], input[type=password], input[type=email] {
	width: 90%;
	padding: 12px 34px 10px;
	margin: 5px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: black;
}

input[type=submit] {
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.moveRightInp {
	padding-right: 35px;
}

/* ~~~~~~~~~~~~~~~ welcome page CSS ~~~~~~~~~~~~~~~ */
.hidden {
	display: none;
}

/* ~~~~~~~~~~~~~~~ items page CSS ~~~~~~~~~~~~~~~ */
.assSize {
	width: 45%;
}

.catSize {
	width: 38%;
}

#dailyInput {
	width: 62%;
	padding: 10px 15px 10px;
	margin: 5px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	color: gray;
}

#dailySubmit {
	width: 22%;
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px 10px;
	margin: 5px 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.down {
	padding-bottom: 12px;
	margin-top: 30px;
}

.fa-commenting-o {
	padding: 4px;
	margin-bottom: 0px;
	float: left;
	color: #4CAF50;
}

.fa-power-off {
	margin-left: 740px;
}

.fa-power-off:hover {
	color: #E52600;
}

.idSize {
	width: 4%;
}

.inLine {
	display: inline-block;
}

.lasmSize {
	width: 13%;
}

.tabButSize {
	width: 150%;
}

.tabSize {
	width: 80%;
}

td {
	align: center;
}

.tdButSize {
	width: 33%;
}

/* ~~~~~~~~~~~~~~~ error page CSS ~~~~~~~~~~~~~~~ */
#ErrorBtn {
	display: none;
}
