<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>ToDoListWeb</display-name>

	<servlet>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.hit.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Timing Filter</filter-name>
		<filter-class>com.hit.filter.ResponseTimerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Timing Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.hit.listener.AdminListener</listener-class>
	</listener>

</web-app>
